@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&display=swap");

/* general styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  color: #2e2e48;
  display: flex;
}

.sm-text {
  color: #79819a;
  font-size: 12px;
}

/* sidebar */

.sidebar {
  background-color: #f7f9fc;
  width: 30%;
  flex-basis: 356px;
}

.sidebar hr {
  color: #e2e6ee;
  margin: 32px 0px;
}

.sidebar-content {
  padding: 0% 48px;
}

/* profile section */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Outfit", sans-serif;
}

.profile-image {
  width: 100%;
  padding-bottom: 32px;
}

.profile-name > p:first-child {
  font-size: 32px;
  font-weight: 500;
  color: #2e2e48;
}

.profile-name > p:last-child {
  font-size: 24px;
  font-weight: 500;
  background: linear-gradient(to right, #a478e8, #516cf7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.profile-quote > div {
  display: flex;
}

.profile-quote div p {
  text-align: center;
}

.profile-quote div img:first-child {
  align-self: start;
}

.profile-quote div img:last-child {
  align-self: end;
}

.profile-quote > p {
  padding: 4% 0% 0% 15%;
}

.profile-text {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* contact, socials and languages sections */
.contact,
.socials,
.languages {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.contact > div,
.socials > div,
.languages > div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.contact > div div,
.socials > div div,
.languages > div div {
  display: flex;
  flex-direction: column;
}

/* styles for the main content */

.content {
  width: 70%;
  margin: auto;
}

/* styles for the timeline */
.timeline {
  display: flex;
  flex-direction: column;
  padding: 64px 48px;
  position: relative;
}

.timeline > li,
.experience-container > li {
  list-style-type: none;
  padding-bottom: 1.5rem;
  border-left: 1.5px solid #e2e6ee;
  position: relative;
  padding: 0px 32px;
}

.timeline > li:last-child,
.experience-container > li:last-child {
  border: 0px;
  padding-bottom: 0;
}

.timeline > li::before,
.experience-container > li::before {
  content: "";
  width: 6px;
  height: 6px;
  background: #5531a7;
  border: 6px solid white;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  top: 5px;
  box-shadow: 1px 1px 5px 0px grey;
}

.content-title {
  font-family: "Outfit", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #2e2e48;
  padding-bottom: 32px;
}

/* projects, experience, education, skills and tools sections */

.project-container {
  display: flex;
  gap: 8px;
  padding-bottom: 48px;
}

.project {
  background-color: #f7f9fc;
  padding: 24px;
}

.project > div {
  display: flex;
  gap: 16px;
  padding-bottom: 16px;
}

.project > div img {
  align-self: start;
}

.project-title {
  color: #2e2e48;
  font-size: 16px;
  font-weight: 500;
}

.project-link {
  font-family: "DM Sans", sans-serif;
  color: #516cf7;
  font-size: 16px;
  font-weight: 500;
}

.experience-container {
  padding: 10px 32px;
}

.experience {
  display: flex;
  gap: 10px;
  padding-bottom: 24px;
}

.experience-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-basis: 1000px;
}

.experience-details > div {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.experience-company {
  font-size: 14px;
  font-weight: 500;
  color: #2e2e48;
}

.experience > p {
  flex-basis: 1000px;
}

.education-container {
  display: flex;
  gap: 8px;
  padding-bottom: 48px;
}

.education {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #f7f9fc;
  padding: 16px 24px;
  font-weight: 500;
}

.education > div {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 8px;
  color: #2e2e48;
  font-size: 12px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 48px;
}

.skills {
  display: flex;
  gap: 10px;
}

.skill {
  color: #9251f7;
  font-weight: 500;
  flex: 1;
  background-color: #f7f9fc;
  padding: 23px 16px;
}

.skill:first-child {
  background-color: white;
}

.skills:first-child .skill:nth-child(2) {
  display: flex;
  gap: 10px;
}

.skills:last-child .skill:nth-child(4) {
  display: flex;
  gap: 10px;
}

.skills:last-child .skill:last-child {
  display: flex;
  gap: 10px;
  align-items: center;
}

.development-last {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.vertical-line {
  width: 2px;
  height: 100%;
  background-color: #e2e6ee;
}

.skills:last-child p,
.skills:last-child li {
  color: #516cf7;
}

.tools {
  display: flex;
  gap: 8px;
  padding-bottom: 48px;
  flex-wrap: wrap;
}

.tool {
  flex-basis: 150px;
  font-weight: 500;
  background-color: #f7f9fc;
  padding: 19px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tool img {
  padding-bottom: 10px;
}

/* media queries */

@media (max-width: 768px) {
  body {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .content {
    width: 100%;
  }

  .profile-quote > p {
    padding: 4% 0% 0% 4%;
  }

  .languages {
    padding-bottom: 32px;
  }

  .timeline {
    padding: 32px 24px;
  }

  .project-container {
    flex-direction: column;
  }

  .experience {
    flex-direction: column;
  }

  .experience-details,
  .experience > p {
    flex-basis: 100%;
  }

  .education-container {
    flex-direction: column;
  }

  .skills {
    flex-direction: column;
  }
}
