@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&display=swap");

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* tag styles */
body {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  color: #2e2e48;
  display: flex;
}

/* utility classes */
.sm-text {
  color: #79819a;
  font-size: 12px;
}

.image {
  width: 100%;
}

/* sidebar */
.sidebar {
  background-color: #f7f9fc;
  width: 30%;
  flex-basis: 356px;
}

.sidebar__image {
  width: 100%;
  padding-bottom: 32px;
}

.sidebar__divider {
  color: #e2e6ee;
  margin: 32px 0px;
}

.sidebar__content {
  padding: 0% 48px;
}

/* profile section */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Outfit", sans-serif;
}

.profile__name {
  font-size: 32px;
  font-weight: 500;
  color: #2e2e48;
}

.profile__name--gradient {
  font-size: 24px;
  font-weight: 500;
  background: linear-gradient(to right, #a478e8, #516cf7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.quote--profile {
  padding-top: 16px;
}

.quote__container {
  display: flex;
}

.quote__imageUp {
  align-self: start;
}

.quote__imageDown {
  align-self: end;
}

.quote__author {
  padding: 4% 0% 0% 15%;
}

/* contact, socials and languages sections */
.sidebar-card {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.sidebar-card__item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.sidebar-card___text {
  display: flex;
  flex-direction: column;
}

/* styles for the main content */

.content {
  width: 70%;
  margin: auto;
}

/* styles for the timeline */
.timeline {
  display: flex;
  flex-direction: column;
  padding: 64px 48px;
  position: relative;
}

.timeline__item {
  list-style-type: none;
  padding-bottom: 1.5rem;
  border-left: 1.5px solid #e2e6ee;
  position: relative;
  padding: 0px 32px;
}

.timeline > li:last-child {
  border: 0px;
  padding-bottom: 0;
}

.timeline > li::before {
  content: "";
  width: 6px;
  height: 6px;
  background: #5531a7;
  border: 6px solid white;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  top: 2px;
  box-shadow: 1px 1px 5px 0px grey;
}

.timeline__title {
  font-family: "Outfit", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #2e2e48;
  padding-bottom: 32px;
}

/* projects*/

.project-container {
  display: flex;
  gap: 8px;
  padding-bottom: 48px;
}

.project {
  background-color: #f7f9fc;
  padding: 24px;
}

.project__details,
.project__link-container {
  display: flex;
  gap: 16px;
  padding-bottom: 16px;
}

.project__image {
  align-self: start;
}

.project__title {
  color: #2e2e48;
  font-size: 16px;
  font-weight: 500;
}

.project__link {
  font-family: "DM Sans", sans-serif;
  color: #516cf7;
  font-size: 16px;
  font-weight: 500;
}

/* experience */

.timeline--experience {
  padding: 10px 32px;
}

.experience {
  display: flex;
  gap: 10px;
  padding-bottom: 24px;
}

.experience__details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-basis: 1000px;
}

.experience__date-location,
.experience__company-details {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.experience__company {
  font-size: 14px;
  font-weight: 500;
  color: #2e2e48;
}

.experience__description {
  flex-basis: 1000px;
}

/* education */

.education-container {
  display: flex;
  gap: 8px;
  padding-bottom: 48px;
}

.education {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #f7f9fc;
  padding: 16px 24px;
  font-weight: 500;
}

.education__details {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 8px;
  color: #2e2e48;
  font-size: 12px;
}

/* skills */

.skills-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 48px;
  font-weight: 600;
}

.skills {
  display: flex;
  gap: 10px;
}

.skill {
  color: #9251f7;
  flex: 1;
  background-color: #f7f9fc;
  padding: 23px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills__items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex: 1;
}

.skill--last {
  color: #516cf7;
}

.skills__category {
  color: #9251f7;
  background-color: white;
  flex-basis: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills__category--last {
  color: #516cf7;
}

.skill--flex {
  display: flex;
  gap: 10px;
}

.skill--complex {
  display: flex;
  gap: 10px;
  align-items: center;
}

.skill__item--last {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skill__divider {
  width: 2px;
  background-color: #e2e6ee;
  height: 100%;
}

.skills--last {
  color: #516cf7;
}

.skill__list {
  list-style: disc;
}

/* tools */

.tools {
  display: flex;
  gap: 8px;
  padding-bottom: 10px;
  flex-wrap: wrap;
}

.tool {
  flex: 1;
  flex-basis: 150px;
  font-weight: 500;
  background-color: #f7f9fc;
  padding: 19px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tool__image {
  padding-bottom: 10px;
}

/* media queries */

@media (max-width: 768px) {
  body {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .content {
    width: 100%;
  }

  .quote__text {
    padding: 4% 0% 0% 4%;
  }

  .languages {
    padding-bottom: 32px;
  }

  .timeline {
    padding: 32px 24px;
  }

  .project-container {
    flex-direction: column;
  }

  .experience {
    flex-direction: column;
  }

  .experience__details,
  .experience__description {
    flex-basis: 100%;
  }

  .education-container {
    flex-direction: column;
  }

  .skills__category {
    align-self: start;
  }

  .skills__items {
    flex-direction: column;
  }

  .tool {
    flex-basis: 100px;
  }
}
